<%- include('../partials/header.ejs') %>
<%- include('../partials/menu.ejs') %>
<div class="container">
    <a href="/subjects/add">Add Subject</a>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Subject Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% no =1 %>
            <% for(let i=0; i<data.length; i++){ %>
                <tr>
                    <td><%= no %></td>
                    <td><%= data[i].subject_name %></td>
                    <td>
                        <a href="/subjects/edit/<%= data[i].id %>">EDIT</a>
                        <a href="/subjects/delete/<%= data[i].id %>">DELETE</a>
                    </td>
                </tr>
                <% no++ %>
            <% } %>
        </tbody>
    </table>
</div>